.table {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.th-titulo {
    font-size: 15px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

.mat-sort-header-button.th-titulo {
    padding-left: 20px;
}

.th-celulas {
    border: 1px solid #e0e0e0;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-acoes {
    margin: 3px;
    background: #f0f0f0;
    color: #007390;
}

.coluna-acoes {
    width: 200px;
    padding: 10px;
}