<div class="container-fluid cardLogin">
    <div class="container">
        <form class="example-form" [formGroup]='loginForm'>
            <div class="input-login">
                <mat-form-field appearance="outline">
                    <mat-label>Usuário</mat-label>
                    <input matInput placeholder="Usuário" type="text" formControlName="usuario" required>
                </mat-form-field>
            </div>
            <div class="input-login">
                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input matInput placeholder="Senha" type="password" formControlName="senha" required>
                </mat-form-field>
            </div>
            <button class="bot-login" (click)="autentica()" color="primary" mat-button>Login</button>
        </form>
    </div>
</div>