<mat-toolbar color="primary" style="background: rgba(0, 0, 0, 0.5);">
    <div class="header">
        <div class="header__spacer"></div>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md *ngIf="usuario != null">
            <a href="/home" mat-button>Home</a>
            <button mat-button [matMenuTriggerFor]="cadastros">Cadastrar</button>
            <mat-menu #cadastros="matMenu" [overlapTrigger]="false">
                <div><button *ngIf="perfil2" mat-button (click)="telaCadastro(1)">Instituição de ensino</button></div>
                <div><button *ngIf="perfil10" mat-button (click)="telaCadastro(2)">Telefones Úteis</button></div>
                <div><button *ngIf="perfil5" mat-button (click)="telaCadastro(3)">Gerencia Solicitações</button></div>
                <div><button *ngIf="perfil7" mat-button (click)="telaCadastro(4)">Cadastra Administrador</button></div>
            </mat-menu>
            <a href="/login" mat-button (click)="sair()">Sair</a>
        </div>
    </div>
</mat-toolbar>